*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#background{
    height: 100px;
    background-image: url('../img/pattern.png');
    background-color: #5F9DF7;
    background-size: 400px;
}

#logo{
    height: 50px;
    margin-top: 40px;
    margin-left: 10px;
}

.textgrey{
    color: grey;
}

.skyblue{
    color: #89CFFD;
}

.date{
    font-size: 12px;
}

.distance{
    margin-top: 20px;
    margin-left: 5px;
}

.smalltext{
    font-size: 10px;
}

#yellow{
    background-color: yellow;
}

table{
    border-collapse: collapse;
    
}

td{
    width: 10%;
}

thead{
    color: white;
    background-color: #2192FF;
}

.backgroundblue{
    background-color:aqua;
}
